
.header {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  height: 50px;
  max-width:100%;
  box-shadow: 0px 10px 15px rgb(221, 221, 221);
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  height: 50px;
  max-width:100%;
}

.header nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerLink {
  border: #81704f 1px solid;
  border-radius: 5px;
  color: #81704f;
  background-color: #c4ebd1;
  padding: 10px 20px;
  font-size: 30px;
}

.articleList {
  color: #423c31;
}

.articles {
  margin: 10px 30px;
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.smallCard {
  padding: 10px;
  margin: 5px;
  min-height: 150px;
  width: 25%;
}

.bigCard {
  padding: 10px;
  margin: 5px;
  min-height: 150px;
  width: 45%;
}

.greenCard {
  background-color: #c4ebd1;
  color: #81704f;
  }

.greyCard {
  color: #f5f5f5;
  background-color: #221e49;
}

.yellowCard{
  background-color: #fde910;
  color: #1f1f1f;
}

.text{
  height: 50px;
  text-overflow: ellipsis; 
  overflow: hidden; 
}

.articleHeader {
  height: 20px;
  text-overflow: ellipsis; 
  overflow: hidden; 
}

.hidden {
  display: none;
}

.photos {
  max-height: 70%;
  width: 70%;
}

.button {
  margin: 0.5rem;
  font-family: Merriweather;
  font-size: 20px;
  border: #423c31 1px solid;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
}